<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/monoblue.css">
    <link href="css/prism.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600" rel="stylesheet" type="text/css">
    <title>{{ blog.title }}</title>
    </head>
    <body>
        <div class="sidebar-container">
            <div class="sidebar">
                <div class="title-section">
                    <h1 id="blog-title">{{ blog.title }}</h1>
                    <p>{{ blog.description }}</p>
                </div>
                <hr>
                <div class="author-section">
                    <h2>{{ blog.author }}</h2>
                </div>
            </div>
        </div>
        <div class="container column">
            {% for post in blog.posts %}
            <div class="post">
                <div class="post-title-section">
                    <h2 class="post-title"><a href="{{ post.slug }}">{{ post.title }}</a></h2>
                    <div class="post-tags">
                        {% for tag in post.tags %}
                        <a href="tag/{{ tag }}" class="tag">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
                    <h3 class="post-date">{{ post.date }}</h3>
                {{ post.peek }}
                <div><strong><a href="{{ post.slug }}">Read more &gt;&gt;</a></strong></div>
            </div>
            <hr>
            {% endfor %}
        </div>
    <script src="js/prism.js"></script>
    </body>
</html>
